# OIDC Configuration
OIDC_RP_SIGN_ALGO=...                      # Signing algorithm used in OIDC
OIDC_OP_JWKS_ENDPOINT=...                  # JWKS endpoint
OIDC_RP_CLIENT_ID=...                      # OIDC client ID
OIDC_RP_CLIENT_SECRET=...                  # OIDC client secret
OIDC_OP_AUTHORIZATION_ENDPOINT=...         # OAuth2 authorization endpoint
OIDC_OP_TOKEN_ENDPOINT=...                 # OAuth2 token endpoint
OIDC_OP_USER_ENDPOINT=...                  # OAuth2 user info endpoint

# Database Engine
# Can be 'django.db.backends.sqlite3' or 'django.db.backends.postgresql'
# DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_ENGINE=django.db.backends.sqlite3

# PostgreSQL configuration (These are optional but allow customization)
POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_HOST=...
POSTGRES_PORT=...

# Django settings (you can also add other Django-related settings here)
SECRET_KEY=...                           # Django secret key for secure hash generation
DJANGO_DEBUG=False                       # Set to True to enable debug mode

# Only used by examples - sensitive information should be replaced with ...
AQUEDUCT_GATEWAY_ACCESS_TOKEN=...
ENDPOINT_ACCESS_TOKEN=...