{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="bg-base-200">
<head>
    <meta charset="UTF-8">
    <title>Aqueduct AI Gateway</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/Aqueduct_Icon_80x80.png' %}">
    {% include "management/_cdn.html" %}
</head>
<body class="h-screen">

<div class="card bg-base-100 shadow-lg max-w-4xl mx-auto">
    <div class="card-body">
        <h2 class="card-title text-2xl font-bold mb-2">Terms of Service</h2>
        <p class="text-sm text-gray-500 mb-4">
            {% blocktrans with tos_created=tos.created|date:"SHORT_DATE_FORMAT" %}
                as of {{ tos_created }}
            {% endblocktrans %}
        </p>
        <div class="prose max-w-none">
            {{ tos.content|safe }}
        </div>
    </div>
</div>
</body>
</html>