name: Aqueduct CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - hotfix/*
    tags:
      - '*'

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit
  
  dockerize:
    needs: test
    uses: ./.github/workflows/docker.yml
    secrets: inherit
  
