name: Run Tests

on:
  workflow_call:

jobs:
  gateway:
    strategy:
      matrix:
        backend: [ "openai" ]
        include:
          - backend: openai
            start: "false"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: Set up ruff and run `ruff check`
        uses: astral-sh/ruff-action@v3

      - name: Ruff - check imports
        run: ruff check --select I

      - name: Ruff - check formatting
        run: ruff format --check

      - name: Gateway Tests
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          INTEGRATION_TEST_BACKEND: ${{ matrix.backend }}
          START_VLLM_SERVER: ${{ matrix.start }}
          DJANGO_LOG_LEVEL: WARNING
          OIDC_OP_JWKS_ENDPOINT: https://example.com/application/o/example/jwks/
        run: uv run ${{ matrix.start == 'true' && '--extra vllm' || '' }} python aqueduct/manage.py test gateway

  compose:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@v2.2.0
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        with:
          compose-file: "./docker-compose.yaml"
          up-flags: "--build --wait" # the wait flag checks for health status
